<div id="wa-app">

<div class="search-chat">
	<div><div icon="search"></div><input placeholder='Search a User' /></div>
</div>

<div id="chat-list">
	<div class="chat"><div icon="user">chat-logo</div><div class="chat-info"><div class="chat-name"> Abhay </div><div class="last-mess"> Good Bye ! </div></div><div class="new-mess">2</div></div>
</div>

<div class="fab" >
<div class="fab-opts">
	<div icon="group"></div>
	<div icon="user"></div>
	<div></div>
</div>
<div icon="plus" onclick="t_fab.t()" ></div>
</div>

</div>