#hmbgr {
	--size: 35px;
	height: var(--size);
	width: var(--size);
	background: none;
	border-radius: 5px;
	position: relative;
	top: calc(50% - var(--size) / 2);
	text-align: center;
	z-index: 3;
}

#hmbgr > hr {
	--hr-H: 2px;
	--hr-W: 25px;
	border: none;
	height: var(--hr-H);
	width: var(--hr-W);
	border-radius: 5px;
	margin: 0;
	transition: 0.3s;
	transform-origin: 50% 50%;
	position: absolute;
	left: 10px;
	background: #333;
}

#hmbgr > hr:nth-child(1) {
	--pos: 10px;
	top: calc(var(--pos) - var(--hr-H) / 2);
	width: 18px;
}

#hmbgr > hr:nth-child(2) {
	--pos: 17.5px;
	top: calc(var(--pos) - var(--hr-H) / 2);
}

#hmbgr > hr:nth-child(3) {
	--pos: 25px;
	top: calc(var(--pos) - var(--hr-H) / 2);
}

@media (prefers-color-scheme: dark) {
	#hmbgr > hr {
		background: #ccc;
	}
}
