<nav id="pwd" class="fm-nav-bar">
	<span> ROOT </span>
	<div class="rightArrow"></div>
	<span> app </span>
</nav>
<div
	class="files-container"
>
	<div class="gb"> <img data-src="/icons/back.png" /> <span class="upDir"> root </span> <div class="bb"> Back </div> </div>
	{{#each ls.dirs}}
		<div class="dir"> <img data-src="/icons/folder.png" /> <span> {{this}} </span> <div  class="open-btn"> Open </div> </div>
	{{/each}}
	{{#each ls.files}}
		<div class="file"> <img data-src="/icons/file.png" /> <span> {{this}} </span></file>
	{{/each}}
</div>