
<div class="imgD-container">
<h2 class="imgD-heading"> Image Downloader</h2>
<form class="imgD-form" id="siteURL_form">
	<div class="imgD-input-container">
	<div icon="search"></div>
	<input
		type="url"
		id="website_url"
		class="imgD-url"
		placeholder="Website URL"
		required
	/>
	<input type="submit"
		onclick="pressed(this)"
		class="imgD-button" value="Submit" />
	</div>
</form>

<div id="pbc" class="imgD-progress-bar-container">
</div>
<div id="dbtn">
	Download Now !
</div>

</div>
