<div  id="index" >
	<div>
		<div>Image Downloader</div>
		<a href="/imgD" view="imgD"  onclick="setView('imgD' , 1); return false;">Open</a>
	</div>
	<div>
		<div>File Manager</div>
		<a href="/fm" view="fm"   onclick="setView('fm' , 1); return false;">Open</a>
	</div>
	
<div>
		<div>YoutTube Video Downloader </div>
		<a href="/ytdl"  view="ytdl"   onclick="setView('ytdl' , 1); return false;">Open</a>
	</div>
 
	<div>
		<div>WhatsUp</div>
		<a href="/wu" view="wu"   onclick="setView('wu' , 1); return false;">Open</a>
	</div>
</div>